theory-title,
experiment-title,
fermion-boson-title,
trapping-title,
gate-title {
    display: inline;
    color: #6e66d4;
}

theory-title::after,
experiment-title::after,
fermion-boson-title::after,
trapping-title::after,
gate-title::after {
    content: "\A";
    white-space: pre;
}

theory-author,
theory-year,
experiment-author,
experiment-year,
fermion-boson-notes,
trapping-notes,
gate-notes {
    display: inline;
    color: rgba(0, 0, 0, 0.64);
}

theory-notes,
experiment-notes {
    display: block;
    color: rgba(0, 0, 0, 0.48);
    font-style: italic;
    margin-top: 0.24em;
}

ol {
    list-style-type: decimal;
    padding-left: 1.5em;
    margin: 1em 0;
}

ol li {
    margin: 0.32em 0;
    margin-bottom: 0.96em;
}

ol:has(fermion-boson-notes) li,
ol:has(trapping-notes) li,
ol:has(gate-notes) li {
    margin-bottom: 0;
}