---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const glossary = await getCollection('glossary');
---

<BaseLayout>
    <main class="px-4 py-8">
         <h1 class="text-gray-400 text-xl mb-2">Glossary</h1>
        
        <ul class="list-none">
            {glossary.map((entry) => (
                <li>
                    <a
                        href={`/glossary/${entry.slug}`}
                        class="no-underline transition-colors text-gray-700 text-md hover:text-[#6e66d4] cursor-pointer"
                    >
                        {entry.data.title}
                    </a>
                </li>
            ))}
        </ul>
    </main>
</BaseLayout>
